.app {
  padding: 20px;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input.a, select {
  padding: 10px;
  font-size: 16px;
  min-width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(45deg, #8c20e4, #263686);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px 20px;
  border: 1px solid #000;
  text-align: left;
}

th {
  font-size: 24px;
  background-color: #f0f0f0;
}

td {
  font-size: 18px;
}

tr.present {
  background-color: lightgreen;
}

tr.absent {
  background-color: #ff7f7f;
}

h1 {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 1024px) {
  th {
    font-size: 20px;
  }
  td {
    font-size: 16px;
  }
  input.a, select {
    min-width: 150px;
    font-size: 14px;
  }
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  form, .filters {
    flex-direction: column;
    align-items: stretch;
  }
  input.a, select {
    width: 100%;
    margin-top: 10px;
  }
  table {
    font-size: 14px;
    min-width: 300px;
  }
  th {
    font-size: 18px;
  }
  td {
    font-size: 14px;
  }
  button {
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }
}
