.a{
  margin-right: 40px;
}
.b{
  margin: 20px;
}
button {
    margin: 40px 20px;
    background: linear-gradient(45deg, #8c20e4, #263686);
    color: #fff;
    cursor: pointer;
}
table {
    width: 100%; 
    margin: 0px auto;
    border: 2px solid #fff; 
    border-collapse: collapse;
    max-width: 800px;
}

th,td {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fff;
}

th {
    font-size: 30px;
}
h1{
    margin: 0px -10px;
}
td{
    padding: 0px;
}


@media (max-width: 600px) {
  form, .filters {
    flex-direction: column;
    align-items: stretch;
  }
  input.a, select {
    width: 100%;
    scale: 0.75;
    margin-top: 10px;
  }
  table {
    font-size: 14px;
    max-width: 150px;
  }
  th {
    font-size: 18px;
  }
  td {
    font-size: 14px;
  }
  button {
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }
  .attendance{
    width: 200px;
  }
}