.app{
    margin: auto;
}
input{
    margin: 40px;
}
button{
    margin: 40px;
}
form{
    scale: 1.5;
}
table{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 40px;
    width: 70%;
}