.enter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img {
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 1; }
    to { opacity: 0; }
}